<div class="login-container">
  <h1 class="title">La mejor pizza.</h1>
  <h2 class="subtitle">Recién salida del horno, directo a ti.</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="email">Usuario:</label>
      <input 
        id="email"
        type="text" 
        placeholder="Ejem:user1234" 
        [(ngModel)]="user.email" 
        name="email" 
        required 
        pattern="^[^ ]+@[^ ]+\.[a-z]{2,3}$" 
        #email="ngModel"
        [ngClass]="{
          'valid': email.valid && email.touched,
          'invalid': email.invalid && email.touched
        }"
      />
      <div *ngIf="email.invalid && email.touched" class="error-message">
        <small *ngIf="email.errors?.['required']">El correo electrónico es obligatorio.</small>
        <small *ngIf="email.errors?.['pattern']">El correo electrónico no es válido.</small>
      </div>
    </div>

    <div class="input-group">
      <label for="password">Password:</label>
      <input 
        id="password"
        type="password" 
        placeholder="Ejem:123_contraseña" 
        [(ngModel)]="user.password" 
        name="password" 
        required
        #password="ngModel"
        [ngClass]="{
          'valid': password.valid && password.touched,
          'invalid': password.invalid && password.touched
        }"
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        <small *ngIf="password.errors?.['required']">La contraseña es obligatoria.</small>
      </div>
    </div>

    <button type="submit" [disabled]="email.invalid || password.invalid">Enviar</button>
  </form>
</div>
