<div class="product-list">
  <div class="product-item" *ngFor="let pizza of pizzas">
    <img 
      [src]="pizza.imageUrl" 
      alt="{{pizza.name}}" 
      class="product-image" 
      [ngClass]="{'grayscale': pizza.soldOut}">
    <div class="product-info">
      <h3>{{pizza.name}}</h3>
      <p>{{capitalizarIngredientes(pizza.ingredients).join(', ')}}</p>
      <p *ngIf="!pizza.soldOut">${{formatPrecio(pizza.unitPrice)}}</p>
      <p *ngIf="pizza.soldOut" class="sold-out">SOLD OUT</p>
      
      <!-- Botón Comprar -->
      <button 
        class="buy-button" 
        [ngClass]="{'sold-out-button': pizza.soldOut, 'available-button': !pizza.soldOut}" 
        [disabled]="pizza.soldOut">
        Comprar
      </button>
    </div>
  </div>
</div>
